*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("../imge/Rectangle\ 1441.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:top; */
    object-fit: cover;
    width: 100%;
    height: 1000px;
    /* height: 100vh; */
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    color:#FFFFFF;
    padding: 30px ;
}
.logo a{
    text-decoration: none;
    font-size: 40px;
    color: #45c40a;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 ul{
    list-style: none;
    padding-top: 20px;
 }
 ul li{
    display: inline-block;
 }
 ul li a{
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 22px;
    transition: 0.2s ease;
 }
 ul li a:hover{
    color: green;
    border-bottom: 1px solid;
    transition: 0.2s ease;
 }
 .icon{
    margin-right:80px;
    padding-top: 20px;

 }
 span{
    position: absolute;
    text-align: center;
    border-radius: 30px;
    background-color: orange;
    width:20px;
 }

 .icon i{
    font-size: 25px;
 }
 .bars{
    display: none;
 }
/*container-1*/
.head-section{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}
.hed{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hed h1{
    font-size: 70px;
    color: #FFFFFF;
    text-wrap: wrap;
    text-align: center;
}
.para{
   width: 500px;
   margin-top:20px;
   line-height: 1.5;
}
.para p{
    color: #ffffff99;
    text-wrap: wrap; 
    font-size:22px;
    text-align: center;
}
.input{
    margin: 20px  auto;
    width: 300px;
    position: relative;
}
.input .in{
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 25px;
    border: #FFFFFF 2px solid;
    background:#ffffff1a;
    outline: none;
    font-size:16px ;
}
input::placeholder{
    color: #ffffffa9;
    /* font-size: 18px; */
}
.input i{
    position: absolute;
    right: 15px;
    top: 15%;
    background-color: orange;
    color: #F7F7F7;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
/* container-2 */
.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    padding: 100px 30px; 
}

.menu1{
    padding: 15px;
}
.hdiv h1{
    font-size:30px;
    font-weight: 600;
    /* text-wrap:wrap; */
    padding: 10px;
}
.menu1 h2,p{
    padding: 10px;
}
.menu1 p{
    font-size: 16px;
    color:#38363697 ;
}
.arow {
   display: flex;
   flex-direction: row; 
}
.arow a{
    padding: 10px; 
    text-decoration: none;
    color: orange;
    font-size: 15px;
}
/* container-3 */
.selling-contain{
    background-color: #F7F7F7;
    margin-top:30px;
}
.selhed  h1{
    padding: 30px;
    display: flex;
    justify-content:center;
}
.inbox P{
     text-align: center;
     background-color:#EEEEEE ;
}
.inbox p{
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
}
.inbox P a{
    text-decoration: none;
    padding: 10px;
    color: #3d3c3cc0;
    font-size: 18px;
}
.inbox P .chair{
    background-color: #fff;
    border-radius: 30px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30px;
    padding:100px 25px 25px 50px;
}
.addcard{
   max-width: 270px;
    height: auto;
}
.addpic{
   background-color:rgba(238, 238, 238, 0.584);
   } 
.addpic img{
   position: relative;
   animation: bounce 1s infinite ease-in-out;
}
@keyframes bounce{
    0%,100%{
      transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
/* .addpic img{
    width: 100%;
    height: auto;
}  */
.card-desrib{
    background-color: #FFFFFF;
    text-align:start;
    padding:10px;
    
   
}
.price-add p{
   font-size: 20px;
   text-wrap: wrap;
   color: #3d3c3cc0;
}
.price-add h2{
    color: rgb(9, 1, 23);

}
.price-count {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.price-count a i{
    background-color: rgb(9, 1, 23);
     color:#F7F7F7;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 48%;
    padding-top: 10px;
}
.veiw{
   display: flex;
   flex-direction: row; 
   justify-content: center;
   padding: 50px;
   /* background-color: #fff; */
}
.veiw a{
    text-decoration: none;
    color: orange;
    font-size: 20px;
}
/* 4 */
.container-four{
    display:flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 100px;
    background-color: #f7f7f731;
}
/* .sofaimg{
    width: 500px;
    height: auto;
}
.sofaimg img{
    width: 100%;
    height: 100%;
} */
.sofa-contenct{
    flex-wrap: wrap;
    margin-top: 10px;
}
.sofa-contenct h3{
   color: orange;
   font-size: 18px;
   line-height: 1.5;
   padding: 10px;
}
.sofa-contenct h1{
  color: black;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}
.sofa-contenct p{
  color: black;
  line-height: 1.8;
}
.more{
   display: flex;
   flex-direction: row; 
   justify-content:flex-start;
   padding :10px;
}
.more a{
   text-decoration: none;
   color: orange;
   font-size: 15px;
}
/* 5 */
.container-5{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    background-color: #fff;
}
.sofa-contenct{
    padding: 20px;    
}
/*  6*/
.six-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    background-color: #fff;
}  
.testmonial{
    text-align: center;
} 
.testmonial p{
    color: orange;
    font-size: 20px;
    padding: 10px;
}
.testmonial h2{
    color: black;
    font-weight: bold;
    padding-top: 10px;
    font-size: 25px;
}
.testmonial-card{
    display: flex;
    flex-direction: row; 
}
.test-card{
    width: 300px;
    height: auto;
    margin: 0px auto;
}
.test-card img{
   width: 100%;
   height: auto;
}
/* imgdiv */

.test{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.span_one{
    text-align: center;
    text-wrap: wrap;
    padding: 20px;
    background-color:#fff;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.3);
     border-radius: 15px;
    /* transform: translateY(-250px); */
    margin: 50px;
}
 .span_one{
/* HTML: <div class="rounded-edge"></div> */

  height: 200px;
  aspect-ratio: 3/2;
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  clip-path: ellipse(85% 100% at 50% 0);
  background: #fff;
}
/* .span_one:hover{
    transform: translateY(20px);
    transition: 0.2s ease;
    cursor: pointer;
  } */
.review h1{
    color: orange;
    font-size: 15px;
}
.review h3{
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.review_review p{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
/* footer  */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1d1d13;
    padding: 50px;
}
.contain{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.para1{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
}
.para1 h1{
    color: black;
}
.para1 h2{
    margin-bottom: 15px;
    color: orange;
}
.footer p{
    text-wrap: wrap;
    font-size: 16px;
    max-width: 500px;
    padding: 10px;
}
.para1 ul{
    display:flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 10px; */
}
